<nav class="bar" aria-label="Navigation">
  {% if page.topic %}
    {% assign back_path = '/' | append: page.brand | append: '/' | append: page.unit | append: '/' | append: page.list | append: '/' %}
  {% elsif page.list %}
    {% assign back_path = '/' | append: page.brand | append: '/' | append: page.unit | append: '/' %}
  {% elsif page.unit %}
    {% assign back_path = '/' | append: page.brand | append: '/' %}
  {% else %}
    {% assign back_path = '/' %}
  {% endif %}
  <a id="back" href="{{ back_path | relative_url }}">
    {% include chevron.html %}
    <span>Back</span>
  </a>
  <a id="home" href="{{ '/' | relative_url }}">Home</a>
</nav>
